<?xml version="1.0" encoding="utf-8"?>
<securityConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="13.3.7626.0" authCookieName=".SFAUTH-/" rolesCookieName=".SFROLES-/" validationKey="D08595D45ECAD7FA4502EF5C6F4A5A05DC6ED619A5586BB95E658C6DB0117F441A5B01ED6AE902A18C2D07E5011B65D233A0B3CA2B4A9D24752602C8688BA330" decryptionKey="95FF7111924F94AD36160E7098A0AED6EAA10C4D7742C85881290007136668FC" loggingCookieName=".SFLOG-/">
	<securityTokenIssuers>
		<add key="E5A70A26712FDEB74A693C9D4FCC71B5EFB18DEE1B1CA32A25EA8D2BF5241A6E" membershipProvider="Default" realm="http://localhost" />
	</securityTokenIssuers>
	<relyingParties>
		<add key="E5A70A26712FDEB74A693C9D4FCC71B5EFB18DEE1B1CA32A25EA8D2BF5241A6E" realm="http://localhost" />
	</relyingParties>
</securityConfig>